h1 {
   opacity: 1;
   font-family: Open Sans;
   font-weight: 600;
   font-size: 40px;
   line-height: 140%;
   text-align: center;
   color: #333333;
   margin-top: 100px;
}

hr {
   background: #2B9AD6;
   width: 100px;
   height: 4px;
}

.top-cards {
   display: flex;
   justify-content: center;
   gap: 96px;
   flex-wrap: wrap;
}

.card-list {
   display: flex;
   flex-direction: column;
  margin-top: 60px;
}

.bottom-cards {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 103px;
}

.name {
   font-family: Open Sans;
   font-weight: 700;
   font-style: Bold;
   font-size: 24px;
   line-height: 140%;
   letter-spacing: 0%;
   text-align: left;
   color: #194F94;
   margin-bottom: 0;
   margin-top: 22px;
}

.position {
   font-family: Open Sans;
   font-weight: 400;
   font-style: Regular;
   font-size: 17px;
   line-height: 150%;
   letter-spacing: 0%;
   color: #5F5F5F;
   text-align: left;
   margin: 0;
}

.in {
   position: absolute;
   bottom: 150px;
   right: 40px;
}

.card-common {
   width: 293px;
   height: 361px;
   position: relative;
}

.image-common {
   margin-top: 13px;
   margin-left: 36px;
   margin-right: 37px;
}

.card1:hover {
   background-image: url("dark_photo1.png");
   background-size: contain;
}


.card2:hover {
   background-image: url("dark_photo2.png");
   background-size: contain;
}

.card3:hover {
   background-image: url("dark_photo3.png");
   background-size: contain;
}

.card4:hover {
   background-image: url("dark_photo4.png");
   background-size: contain;
}

.card5:hover {
   background-image: url("dark_photo5.png");
   background-size: contain;
}

.card-common:hover .name {
   color: #FFFFFF;
;
}

.card-common:hover .position {
   color:#FFFFFF;
}

.card-common:hover .in {
   display: none;
}
