.card-list {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.card {
    width: 355px;
    background: white;
}

body {
    background-color: #f7f9fa;   
}

h1 {
    font-family: Fraunces;
    font-weight: 400;
    font-style: Regular;
    font-size: 42px;
    line-height: 50.4px;
    letter-spacing: 0.2px;
    color: #1F1F1F;
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 32px;
    color: #0070A0;
}

.container {
   display: flex;
   justify-content: space-between;
   margin-top: 80px;
}

.see-all-posts {
    margin-top: auto;
    margin-bottom: auto;
}

.content {
    width: 1130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.tag {
    color: #2C90C9;
    background: #E6F7FF;
    margin-left: 24px;
    display: inline-block;
    padding: 4px 18px 2px 18px;
    margin-top: 25px;

}

.title {
    font-family: Fraunces;
    font-weight: 400;
    font-style: Regular;
    font-size: 25px;
    line-height: 31.25px;
    letter-spacing: 0.2px;
    padding-left: 24px;
    margin-top: 8px;
    margin-bottom: 11px;

}
.description {
    width: 307;
    height: 57;
    opacity: 1;
    padding-left: 24px;

}

.date {
    width: 88;
    height: 20;
    padding-left: 24px;
    margin-bottom: 27px;
    margin-top: 16px;
}

p {
    margin: 0px;
}

.time {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 19.6px;
    letter-spacing: 0.2px;

}