body {
 background-color: #f8f8f8;   
}
h1 {
    text-align: center;
    font-family: Raleway;
font-weight: 600;
font-size: 48px;
line-height: 100%;
letter-spacing: 0.6px;
vertical-align: bottom;

}
h2 {
   text-align: center;
   margin-top: 0px;
   font-family: Roboto Condensed;
font-weight: 400;
font-size: 36px;
leading-trim: NONE;
line-height: 40px;
letter-spacing: 0px;
vertical-align: bottom;
}
li {
    margin-top: 20px;
    font-family: Roboto Condensed;
font-weight: 400;
font-size: 14px;
leading-trim: NONE;
line-height: 18px;
letter-spacing: 0.6px;
vertical-align: bottom;

}
ul {
    list-style: none;
    padding: 0px;
}
.parent {
    display: flex;
    Width: 1200px;
    margin: auto;
    
}
.child {
    margin: 0 auto;
    background-color: #ffffff;
    padding: 45px 40px;
    flex-direction: column;
    display: flex;
}
.price {
    text-align: center;
     font-family: Roboto Condensed;
font-weight: 400;
font-size: 36px;
leading-trim: NONE;
line-height: 40px;
letter-spacing: 0px;
vertical-align: bottom;
margin-top: auto;
margin-bottom: 0px;

}