@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300..900&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.menu {
    font-family: Poppins;
    color: burlywood;
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}
.menu > img {
    margin-right: 108px;
}

.delicious {
    font-family: Inter;
    margin-top: 277px;
    color: burlywood;
    font-size: 24px;
}

.heading {
    max-width: 424px;
}

.sweet {
    font-family: Sansita Swashed;
    font-size: 70px;
    margin-top: 24px;
    color: white;
}
.p-menu {
    color: white;
}

.picture {
    background-image: url(picture.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 80px;
    padding-bottom: 181px;
}

.button-link {
    background: brown;
    color: white;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 0;
    font-family: 'Inter';
    font-weight: 600;
    
}

.button {
    text-decoration: none;
    color: burlywood;
    font-family: 'Inter';
    font-weight: 600;
}
.link2 {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    align-items: center;
}

h2 {
    font-family: Sansita Swashed;
    font-size: 64px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0 80px;
}

.back {
    background-image: url(back.png);
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 38px;
}

.price-info {
    margin-bottom: 32px;
}

.price {
    color: white;
    margin: 0 0 0 29px;
    font-size: 24px;
}

.inscription {
    color: white;
    font-size: 24px;
    margin: 0;
}

.Add-link {
    text-decoration: none;
}

.add-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 2px;
    background: #933C24;
    height: 49px;
    width: 71px;
}

.add-wrap > p {
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.description-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 29px;
}

.card-img {
    display: flex;
    justify-content: center;
    width: 360px;
}

.bread-img {
    height: 257px;
}

.title-products {
    display: flex;
    justify-content: center;
}

.offer {
    background-image: url(card-bread.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    padding: 70px 0;
}

.offer-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 343px;
    row-gap: 37px;
}

.offer-group > h2, .about-group > h2 {
    font-family: 'Sansita Swashed';
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    color: #933C24;
}

.offer-group > p, .about-group > p {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    color: #5D5D5D;
}

.offer-group > a, .about-group > a {
    background-color: #933C24;
    width: 130px;
    color: white;
    text-align: center;
    padding: 23px 35px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    border-radius: 10px;
}

.more, .featured {
    display: flex;
    justify-content: center;
    margin: 130px 0 0 0;
}

.more > h1, .featured > h1 {
    font-family: 'Sansita Swashed';
    font-weight: 600;
    font-size: 64px;
    margin: 0;
    text-align: center;
}

.food-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 95px;
    border-bottom: 1px solid gray;
}

.food-menu > div > p {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 6px;
    color: #5D5D5D;
}

.food-menu > div > p:hover {
    border-bottom: 6px solid #933C24;
    cursor: pointer;
    margin-bottom: 0;
}

.cakes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 120px 0;
    padding: 0 80px;
}

.about {
    display: flex;
    background-image: url(about_us.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    padding: 70px 0;
}

.about-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 343px;
    row-gap: 37px;
}

.about-group > h2 {
    color: white;
}

.about-group > p {
    color: #B9B9B9;
}

.treats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 130px 0;
}

.treat-card {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.treats > div > img {
    width: 360px;
    height: 356px;
}

.treat-desc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.treat-desc > p {
    margin: 0;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 30px 80px 56px;
    background-image: url(footer-back.png);
    background-size: cover;
}

.social-networks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    border-bottom: 2px solid #E9BD8D;
    padding-right: 10%;
    padding-bottom: 25px;
}

.footer-logo {
    flex: auto;
}

.footer-logo > img {
    max-width: 114px;
    max-height: 117px;
}

.follow-us {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
    color: #E9BD8D;
}

.info {
    display: flex;
    flex-wrap: wrap;
    gap: 104px;
    margin-top: 52px;
}

.footer-about, .explore {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
}

.footer-about > div > p, .explore > div > p {
    margin: 0;
    color: white;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
}

.footer-about > div > p, .explore > div > p {
    margin: 0;
    color: white;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
}

.footer-about > div:first-child > p,
.explore > div:first-child > p,
.recent-news > div:first-child > p {
    margin: 0;
    color: #E9BD8D;
    font-family: 'Inter';
    font-size: 36px;
    font-weight: 700;
}

.rights {
    margin-top: 125px;
    display: flex;
    justify-content: center;
    color: #737373;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 600;
}
.recent-news {
    display: flex;
    justify-content: right;
    flex-direction: column;
    gap: 31px;
}
.date {
    color: #E9BD8C;
    font-size: 18px;
    margin: 0;
    
}
.p-pastry {
    color: white;
    font-size: 24px;
    margin: 0; 
}
.new-infa {
    display: flex;
    flex-direction: column;
}
.new {
    display: flex;
    gap: 23px;
}
.explore {
    flex-grow: 1;
}