body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
}

.circles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1088px;
    flex-grow: 1;
}

.top-circles {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
    margin-bottom: 110px;
    max-width: 1088px;
    flex-grow: 1;
}

.bottom-circles {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
    max-width: 1088px;
    flex-grow: 1;
    margin-bottom: 111px;
}

h3 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 102px;
}

.family {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
}

.family::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #F0F0F0;
    width: 100%;
    height: 65%;
    z-index: -1;
}

.circle {
    width: 339px;
    flex-grow: 1;
}
.pcircle {
    font-family: Roboto;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

.heading {
    margin-bottom: 70px;
}

.ptext {
    font-family: Roboto;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    text-align: center; 
}

.pname {
    font-family: Roboto;
    font-weight: 400;
    font-size: 19px;
    line-height: 100%;
    text-align: center;
    margin-top: 40px;
}

.Discover {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    margin-top: 51px;
}